<h1 class="title">Clicktale People Search</h1>

<div class="search-container">
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchText" (keydown)="onKeydown($event)">
    <button (click)="searchUser(searchText)" [disabled]="!searchText">Search</button>
  </div>
</div>

<div class="results-container">
  <div class="left">
    <div class="users-list" *ngIf="usersList">
      <app-user *ngFor="let user of usersList | paginate: { itemsPerPage: 5, currentPage: page, totalItems: usersList.length }" [user]="user" (click)="selectUser(user)"></app-user>
      <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div *ngIf="selectedUser" class="right">
    <app-user [user]="selectedUser"></app-user>
  </div>
</div>
