/* You can add global styles to this file, and also import other style files */

html, body {
  height:100%;
  margin: 0;
}

body {
  margin: 0 10px;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 14px;
}

button:focus {
  outline: none;
}
